div {
    .products-card {
        padding: 20px;

        &:hover {
            transform: translateY(-20px);
            transition: 0.7s ease;
        }

        .text {
            cursor: pointer;

            &::selection {
                background-color: #ff4d3f;
                color: #fff;
            }
        }

        // .stars {
        //     margin-bottom: 15px;
        // }

        figure img {
            margin-bottom: 10px;
            cursor: pointer;
        }

        h2 {
            margin-bottom: 10px;
            cursor: pointer;
        }

        h3 {
            margin-bottom: 10px;
        }

        .btn-animated {
            width: 200px;
            height: 50px;
            border: none;
            outline: none;
            color: #fff;
            background: #111;
            cursor: pointer;
            position: relative;
            border-radius: 10px;
            z-index: 0;

            &:hover {
                box-shadow: 4px 4px 4px #8e5252;
            }
        }
    }
}